
.card-field {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    padding: 40px;
    padding-top: 20px;
    align-items: center;
    max-width: 300px;

    transition: 0.2s;
}

@media (max-width: 500px) {
    .card-field {
        padding: 20px;
    }
}
  

.card-field .task {
    margin-bottom: 10px;
    margin-right: 10px;
}

.card-field-h1 {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
}