
.login-main {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.login-main-form {
    width: 100%;
    max-width: 500px;
}

.login-main-form-padding {
    padding: 40px;
}

.login-mar {
    margin-top: 30px;
}