.flex-container {
  padding: 20px;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  display: flex;
}

.left-menu {
  width: 64px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  flex: 1;
}

.main-page-tabs-list {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: calc(100% - 40px);
  max-width: 500px;
  padding: 20px;
}

.main-page-tabs-list-item {
  cursor: pointer;
  user-select: none;
  text-align: center;

  border-bottom: 1px solid transparent;
  padding-bottom: 20px;
}

.main-page-tabs-list-item {
  flex: 1;
}

.main-page-tab-selected {
  border-bottom: 1px solid #cdcdcd;
}

.main-page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 40px);
  padding: 20px;
}

.right-bar {
  width: 64px;
  padding: 20px;

  display: flex;
}

.user {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  background-color: #f1f1f1;

  user-select: none;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  
  font-weight: 600;
}

.items {
  display: flex;
  flex-direction: column;

  border-radius: 20px;


  overflow: hidden;
}

.left-menu-list-item {
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;

  font-size: 20px;

  user-select: none;
  transition: 0.1s;

  background-color: #f1f1f1;
  margin-top: 10px;
}

.left-menu-list-item:hover {
  background-color: #d1d1d1;
}


.items a {
  background-color: #eee;  
  color: black; 
  display: block;
  padding: 1px;
  text-decoration: none; 
}


.items a:hover {
  background-color: #ccc; 
}


ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  margin-top: 0;
  overflow: hidden;
  background-color: #ffffff;
}


li {
  float: left;
}


li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  border-radius: 15%;
  background-color: #f3f3f3;
}


#enterButton
{
  width: 400px;
  height: 40px;
  margin-left: auto;
  margin-top: auto;
  background: rgb(255, 255, 255);
}

#right_bar {
  width: 48px;
  background-color: #ffffff;
}


#avatar {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  margin-top: 8px;
  background: rgb(00, 69, 69);
  border-radius: 50%;
}

.listMenuItem {
  padding: 5px;
  margin: 10px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.listMenuItem:hover {
  border-bottom: 4px solid #f3f3f3;
}