body {
  background-color: #ffffff;
}


.flex-container {
  height: 100%;
  display: flex;
  justify-content: flex-start; 
  align-items: stretch; 
}


.flex-container > div {
  height: 100vh;
  margin: 0px;
}


#left_menu {
  padding: 20px;
  margin: 20px;
  flex-grow: 2;
  align-items: flex-end;
}


#left_menu:hover {
  background-color: #f3f3f3;
  border-radius: 5px;
}


.items{
margin-left: 1em;
}


.items a {
  background-color: #eee;  
  color: black; 
  display: block;
  padding: 1px;
  text-decoration: none; 
}


.items a:hover {
  background-color: #ccc; 
}


#center {
  flex-grow: 8;
  background-color: #ffffff;
}


ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  margin-top: 0;
  overflow: hidden;
  background-color: #ffffff;
}


li {
  float: left;
}


li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  border-radius: 15%;
  background-color: #f3f3f3;
}


#right_bar {
  width: 48px;
  background-color: #ffffff;
}


#avatar {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  margin-top: 8px;
  background: rgb(00, 69, 69);
  border-radius: 50%;
}